.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > *{
        margin-bottom: 1rem;
    }
}

.title{
    color: rgb(202, 202, 202);
    font-size: 2.5rem;
    font-weight: 700;
    width: 50%;
    text-align: center;
}

img{
    width: 25%;
    height: auto;
}

Button{
    width: 30vh;
}