.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.containerCol {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
}

.colorMenu {
	display: flex;
	flex: 0 0 25%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0 2rem;
	&__picker {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		margin: 0.3rem;
		input {
			margin-left: auto;
		}
	}
}
